*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

a {
  text-decoration: none;
  /* transition: 0.5s ease-in-out; */
}

.form-control {
  padding: 3px 5px;
}



.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  color: #355070;
  background-image: linear-gradient(260deg, #000000 0%, #000000 100%);

  
}

.Navlinks {
  display: flex;
}

.Nav-item {
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
  font-size: 1.25rem;
  transition: 0.2s ease-in-out;

}

.Nav-item:hover {
  color:red;
}



.Header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* color: Red; */
 
}

h1{
  font-family: Bradley Hand, cursive;
}

.Header-title {
  text-decoration: none;
  color: black;
  font-family: Bradley Hand, cursive;
}

.MainPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  margin: 10px auto;
  padding-left: 10px;
  justify-content: center 

}


.Shoebox {
  display: flex;
  flex-direction: column;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 250px;
  height: 350px;
  margin: 15px;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: black;
  
  
  text-align: left;
}

.Shoebox:hover {
  transform : translateY(-3px);
  }

.AddShoe {
  
  margin: auto;
  padding-top: 25px;
}

.AddShoe-btn {
  padding-top: 25px;
}

.AddShoe-input {
  padding-top: 10px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.collectionlist {
  padding-top: 25px;
}

.collectionlistCards {
  display: flex;
  flex-direction: column;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 250px;
  height: 350px;
  margin: 15px;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: black;
  justify-self: center;
  row-gap: 1rem;
}

.Details{
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.cardcontainer{
  display: grid;
 
  grid-template-columns: repeat(4,1fr);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  width: 800px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
 }

 input {
  
  height: 25px;
 }

 .buttonsimple{
  color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  cursor: pointer;
 }



.text-muted {
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  hyphens: auto;
  line-height: 18px;
  margin: 0px;
  overflow: hidden;
  overflow-wrap: break-word;
  min-width: 2em;
  
}

.collectionlistCards{
  text-align: left;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}

.loginfield {
  margin: 1rem;
}

label {
  margin-right: 1rem;
}

.loginbutton {    
  padding: 1rem;
  margin: 1rem;
  font-size: 1.25rem;
  width: 30%;
}


.loginfield{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  
  border: #2980b9 4px solid; 
}
.text {
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.passwordconfirmation{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}
.email {
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.loginbutton{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;

  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
  cursor: pointer;
}

.loginbutton:hover{
  background:#2CC06B; 
}

.signupbutton {
  background: #2ecc71;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  border: #27ae60 1px solid;

}

.username{
  font-family: Bradley Hand, cursive;
}

body {
  background-color: rgb(228, 234, 236);
}

.formaddname{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
 
  border: #2980b9 4px solid; 
}

.criteria{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.btn-primary{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.signupfield{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 30px 0px;
  border: #2980b9 4px solid; 
}

.signupcriteria{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.signupbutton1 {
  background: #2ecc71;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  border: #27ae60 1px solid;
  margin-top: 20px;
}

.likebtn{
  background: #2ecc71;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  border: #27ae60 1px solid;
  margin-top: 20px;
  cursor: pointer;
}

.addbtn{
  background: #2ecc71;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 4px;
  border: #27ae60 1px solid;
  margin-top: 20px;
  cursor: pointer;
}